html{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left top, #494f5e, #444b5b, #404859, #3b4456, #364154, #354054, #354055, #343f55, #374158, #3a435b, #3e445d, #414660);
}

@font-face {
    font-family: "HVD Comic Serif Pro";
    src: url("fonts/HVD_Comic_Serif_Pro.otf");
}

h1, h2, h3, h4, p, i {
    font-family: "HVD Comic Serif Pro", serif;
    color: #EEE;
    margin: 0.5em 0;
}

#calendar{
    margin: 1em;
    max-height: 80mm;
    display: flex;
}

#calendar-outer {
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
}

#inspo {
    margin-top: 1em;
    font-size: 18px;
    /*
    position: absolute;
    bottom: 2em;
    left: 2em;
    */
}
